qtcreator
qt5-qmake
qtbase5-dev 
qtchooser 
qtbase5-dev-tools
g++
cmake
pkgconf
libssl-dev
libmpv-dev
nodejs
qtwebengine5-dev
qml-module-qtwebchannel 
qml-module-qt-labs-platform 
qml-module-qtwebengine 
qml-module-qtquick-dialogs 
qml-module-qtquick-controls 
qtdeclarative5-dev 
qml-module-qt-labs-settings 
qml-module-qt-labs-folderlistmodel
librsvg2-bin
